/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-FeelM_darknavy: #202430;
  --vt-c-FeelM_navy: #1C2644;
  --vt-c-FeelM_blue: #618CF6;
  --vt-c-FeelM_yellow: #FFF7D6;
  --vt-c-FeelM_lightgrey: #F7F9FF;

  --vt-c-white: #ffffff;
}

:root {
  /* --color-background: var(--vt-c-white); */
  --color-background: var(--vt-c-FeelM_darknavy);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-white);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  margin: 0;
  font-weight: normal
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    sans-serif;
  font-size: 15px;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
