@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%; /* 부모에 맞게 너비 100%로 설정 */
  height: 100%; /* 부모에 맞게 높이 100%로 설정 */
  /* overflow: hidden; */
}

#page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  width: 100%; /* 부모에 맞게 너비 100%로 설정 */
  height: 100%; /* 부모에 맞게 높이 100%로 설정 */
  /* overflow: hidden; */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /* padding: 0 2rem; */
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 10px;  /* 화면 크기가 작을 때 여백을 더 작게 설정 */
  }
}