
.navCart a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navCart a.router-link-exact-active {
  color: blue;
  font-weight: bold;
}

/* 
<navcart a에서 a의 역할>

`.navcart a`에서 `a`는 **HTML의 앵커(anchor) 태그**를 의미합니다. 앵커 태그는 보통 링크를 만들 때 사용되며, 사용자가 클릭할 수 있는 텍스트나 요소를 제공합니다. 

이 CSS 선택자에서 `a`는 `navcart` 클래스 안에 있는 모든 `<a>` 태그에 스타일을 적용하는 것을 의미합니다. 예를 들어, `.navcart`라는 클래스를 가진 요소 안에 있는 링크들에 대해 다음 스타일을 적용하는 것입니다:

- `color: red;` : 링크의 텍스트 색상을 빨간색으로 변경
- `font-weight: bold;` : 링크 텍스트를 굵게(bold) 만듦

따라서 `.navcart a`는 `navcart` 클래스를 가진 부모 요소 안의 모든 링크에 대해 색상과 글꼴 두께를 적용하는 역할을 합니다. 
*/


/* 
<버튼 활성화 되었을 때 색깔 바꾸는 법>

f12의 관리자 도구에서 Elements 를 보면, nav의 요소를 클릭할 때 a태그 속 'class = router-link-active router-link-exact-active'가 활성화 되고 있음을 알 수 있다.
이 부분을 활용하여 클릭했을 때 nav 요소 색깔을 바꾸거나 하는 등의 설정이 가능하다. 
*/